#heading{
    color:rgb(118, 184, 102);
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10%;
    overflow: hidden;
  }
li {
    display: inline;
    float:left;
    padding:1%;
  }
.navBar{
    text-align: center;
}
